API_ORIGIN=<your_frontend url>
DATABASE_URL=<your database url>
PINECONE_API_KEY=<your pinecone api key>
GEMINI_API_KEY=<gemini api key>
ADMIN_SECRET=<your admin secret> # to access the issue key route
DATABASE_URL=<your relational database url>